/* 	Stylesheet Script 0.1 
 	Author Daniel Kreck 
 */

@charset "utf-8";

#branding h1 {color: #2EA342; text-decoration: none;}
h1, h2, h3, h4{color: #2EA342;}

.seitenleiste{margin-top: 20px;}

.jumbotron {
	background-image: url(../images/tree-338211_1280.jpg);	
	background-size:100%;
	/* background: transparent; */
	background-repeat: no-repeat;
}

.bild1 {
	width: auto; 
	height: auto; 
}

